.ai-era {

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;


}

.ai-era-div {
    padding-left: 50px;
    padding-bottom: 60px;
    margin-top: 50px;
    margin-left: 115px;
    margin-right: 115px;
    padding-top: 100px;
    font-family: "Roboto";
    display: flex;
    background-color: #202230;
    color: white;
    border-radius: 30px;
    border: none;
}

.ai-era-desc {
    font-size: 15.5px;

    padding-top: 5px;
    color: #d0d3ec;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
}

.ai-icon {
    padding-top: 25px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: #d6c0f4;

}

.avd {
    display: flex;
}

.abd {
    padding-top: 29px;
    letter-spacing: -0.5px;
}

.certi-icon {
    padding-left: 85px;
    padding-top: 25px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: #b2fed7;
}

.adv-icon {
    padding-left: 38px;
    padding-top: 25px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: #b2fed7;
}

.p1img {
    height: 470px;
    margin-left: 85px;
    margin-top: -50px;

}

.lrn-btn {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.prc {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #d0d3ec;
}

.skill-topic {
    margin-top: 80px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto';
    color: rgb(39, 39, 39);
    padding-left: 112px;
    letter-spacing: 1px;
    line-height: 50px;
}

.skill-topic-desc {
    padding-left: 112px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 200;
}

.tabs {
    margin-left: 112px;
    font-family: 'Roboto';
    display: flex;
    font-weight: 700;
    color: #5d5d5d;
    gap: 25px;
}


.tabs:hover {
    cursor: pointer;

}





.btn-itm {
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 12px;
}

.btn-itm:hover {
    color: black;
}

.btn-itm.active {
    color: black;
    border-bottom: 2px solid black;
}

hr {
    margin-top: -1px;
    color: #d3d3d3;
    margin-left: 112px;
    margin-right: 112px;
}

.card-div {
    border: 1.5px solid rgb(229, 228, 228);
    border-top: none;
    border-radius: 20px;
    position: relative;



}

.card-div:hover {
    background-color: #f5f5f5;
    cursor: pointer;

}

.cards-container {
    display: flex;
    gap: 18px;
    margin-left: 112px;
    margin-top: 30px;
    margin-bottom: 50px;
    

}

/* .model {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
} */

.loweena .model-container {
    left: -360px;
}

.loweena .model-container::after {
  content: "";
  position: absolute;
  right: -10px; 
  top: 80px; 
  width: 0;
  height: 0;
  border-top: 10px solid transparent;   /* top slant */
  border-bottom: 10px solid transparent; /* bottom slant */
  border-left: 10px solid white;         /* <-- visible side (arrow color) */
  filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.1)); /* subtle shadow */
}

.loweena .model-container::before {
  content: none !important;
}

.next-btn{
    z-index:2000;
    margin-top: -250px;
    margin-left: 1385px;
         z-index: 10000;
}
.next-button:hover { 
    background-color: #e9eaec;
}
.next-button:hover .aaa{ 
    background-color:  #e9eaec;
    cursor: pointer;
}
.next-button{
    position: relative;
    width:50px;
    height:50px;
    border-radius:50%;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px #00000026;
    z-index: 500;
    border:none;
}
.aaa{
    padding-top: 5px;
    width:30px;
    height:30px;
    color: #5d5d5d;
    background-color: white;
    z-index: 1000; 
}
.show-all-courses{
    margin-left: 112px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 800;
    color: #6d28d2;
    cursor: pointer;
    padding-top: 180px;
}
.goarrowright{
    position: relative;
    margin-left: 5px;
    top:3px;
    width:16px;
    height:16px;
  
}
.brands{
    margin-top: 60px;
    background-color: #f6f7f9;
    padding-bottom: 50px;
}
.brand-desc{
    padding-top: 60px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #5d5d5d;
    text-align: center;
    font-weight: 450;
    
    font-size: 17px;
}
.brand-img{
    margin-top: 25px;

    margin-left: 130px;
    display: flex;
    gap: 80px;
}
.display-no{
    display: flex   ;

    margin-top: 50px;
    height: 430px;
    width:1280px;
    background-color: #202230;
    margin-left: 112px;
    border-radius: 25px;
    margin-bottom: 30px;
}
.get-certify{
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 33px;
    line-height: 1.1;
}
.prep-certify{
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.6;
}
.certi-btn{
    margin-left: -5px;
    margin-top: 30px;
    width: 287px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    background-color: #202230;
    color: white;
    font-family: 'Roboto';
    cursor: pointer;
    font-size: 16px;
    padding-left: -10px;
}
.certi-btn:hover{
    background-color: #2f2f3e;
}
.goarrowright1{
    position: relative;
    top:4px;
    width:18px;
    height:18px;
    margin-left: 10px;

}
.box-1{
    padding-left: 95px;
    padding-top: 100px;
}
.d1img2{
    width:170px;
    border-radius: 8px;
    
}
.compTia{
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.hhh{
    margin-left: 90px;
    margin-top: 110px;
    padding: 15px;
    background-color: orange;
    border-radius: 20px;
    height:182px;
    background-color: #3d4055;
}
.hhh1{
    margin-left: 16px;
    margin-top: 110px;
    padding: 15px;
    background-color: orange;
    border-radius: 20px;
    height:182px;
    background-color: #3d4055;
}
.hhh2{
    margin-left: 16px;
    margin-top: 110px;
    padding: 15px;
    background-color: orange;
    border-radius: 20px;
    height:182px;
    background-color: #3d4055;
}
.eee{
    margin-top: 5px;
    font-family: 'Roboto';
    font-size: 13px;
    color: rgb(183, 183, 183);
}
.Reach{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #5d5d5d;
}
.grow{
    font-size: 35px;
    font-family: 'Roboto';
    font-weight: 500    ;
    color: #1f212d;
    margin-bottom: -12px;
}
.lll{
    margin-left: 110px;
    margin-bottom: 35px;
}