.companylogo {
    height: 40px;
    width: 140px;
    margin-left: 13px;
    margin-top: 17px;
    margin-bottom: 14px;
}

.navbar-container {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
 
     /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
}

.search-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 13px;
}

.search-icon {
    position: absolute;
    padding-top: 13px;
    margin-left: 8px;

}

.search-input {
    padding-left: 35px;
    height: 40px;
    width: 600px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-weight: 10;
    color: rgb(92, 92, 92);

}

.search-input:focus {
    outline: none;
    border: 1px solid #b520ff;

}

.search-input:hover:not(:focus) {
    background-color: #f4f4f4;
    outline: none;
}

.explore-text {
    font-family: "Roboto", sans-serif;
    color: rgb(92, 92, 92);
    font-size: 14px;
    font-weight: 350;
    padding-top: 13px;
    margin-left: 20px;

}

.cart-icon {
    height: 18px;
    width: 18px;
    margin-left: 20px;
    margin-top: 25px;
}

.login-button {
    width: 80px;
    height: 40px;
    margin-top: 15px;
    margin-left: 35px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #6d28d2;
    color: #6d28d2;
}

.login-button:hover {
    background-color: #eee8f5;
    cursor: pointer;
}

.signup-button {
    width: 80px;
    height: 40px;
    margin-top: 15px;
    margin-left: 8px;
    background-color: #6d28d2;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #6d28d2;
    color: #ffffff;
}

.signup-button:hover {
    background-color: #7d21b6;
    cursor: pointer;
}