- name: Build Skillstack Docker Images on VM2 via SSH
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    vm2_user: "ubuntu"
    vm2_ip: "3.139.235.90"
    ssh_key: "/home/ubuntu/.ssh/ansible.pem"
    workspace: "{{ lookup('env','WORKSPACE') }}"  # Jenkins workspace

  tasks:

    - name: Copy backend code to VM2
      ansible.builtin.command: >
        scp -i {{ ssh_key }} -r {{ workspace }}/backend {{ vm2_user }}@{{ vm2_ip }}:/home/{{ vm2_user }}/
    
    - name: Copy frontend code to VM2
      ansible.builtin.command: >
        scp -i {{ ssh_key }} -r {{ workspace }}/frontend {{ vm2_user }}@{{ vm2_ip }}:/home/{{ vm2_user }}/

    - name: Build backend Docker image on VM2
      ansible.builtin.shell: |
        ssh -i {{ ssh_key }} {{ vm2_user }}@{{ vm2_ip }} \
        "docker build -t skillstack/backend:latest /home/{{ vm2_user }}/backend"
      args:
        executable: /bin/bash

    - name: Build frontend Docker image on VM2
      ansible.builtin.shell: |
        ssh -i {{ ssh_key }} {{ vm2_user }}@{{ vm2_ip }} \
        "docker build -t skillstack/frontend:latest /home/{{ vm2_user }}/frontend"
      args:
        executable: /bin/bash
