- name: Build Skillstack Docker Images on VM2 over SSH
  hosts: localhost
  connection: local
  become: true
  gather_facts: false

  tasks:

    - name: Build backend Docker image
      community.docker.docker_image:
        name: "skillstack/backend:latest"
        build:
          path: "{{ lookup('env','WORKSPACE') }}/backend/"
        source: build
        state: present
        docker_host: "ssh://ubuntu@3.139.235.90?private_key_file=/home/ubuntu/.ssh/ansible.pem"

    - name: Build frontend Docker image
      community.docker.docker_image:
        name: "skillstack/frontend:latest"
        build:
          path: "{{ lookup('env','WORKSPACE') }}/frontend/"
        source: build
        state: present
        docker_host: "ssh://ubuntu@3.139.235.90?private_key_file=/home/ubuntu/.ssh/ansible.pem"
