- name: Build Skillstack Docker Image Locally
  hosts: localhost
  connection: local
  become: true
  gather_facts: false

  tasks:

    - name: Build backend Docker image
      community.docker.docker_image:
        name: "skillstack/backend:latest"
        build:
          path: "{{ lookup('env','WORKSPACE') }}/backend/"
        source: build
        state: present

    - name: Build frontend Docker image
      community.docker.docker_image:
        name: "skillstack/frontend:latest"
        build:
          path: "{{ lookup('env','WORKSPACE') }}/frontend/"
        source: build
        state: present
